<p id="notice"><%= notice %></p>

<p>
  <b>Url:</b>
  <%= @channel.url %>
</p>

<p>
  <b>Title:</b>
  <%= @channel.title %>
</p>

<p>
  <b>User:</b>
  <%= @channel.user_id %>
</p>


<%= link_to 'Edit', edit_channel_path(@channel) %> |
<%= link_to 'Back', channels_path %>
