
<%= article.description.html_safe %>
<div class="accordion" id="article<%= article.id %>">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#article<%= article.id %>" href="#collapse<%= article.id %>">
        Comments (<%= article.comments.size %>)
      </a>
    </div>
    <div id="collapse<%= article.id %>" class="accordion-body collapse">
      <div class="accordion-inner">
        <%= form_for [article, Comment.new] do |f| %>
          <%= f.text_area :body, :rows => 2, :cols => 83 %>
          <%= f.submit nil, :class => 'btn btn-primary' %>
        <% end %>

        <%= render article.comments %>
      </div>
    </div>
  </div>
</div>
