<!DOCTYPE html>
<html>
<head>
  <title>RssReader</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div  class="navbar-inner">
    <a class="brand" href="/">RssReader</a>
    <ul class="nav">
      <li><%= link_to 'channels', channels_path %></li>
      <li><%= link_to 'starred articles', channel_articles_path(:starred => true) %></li>
      <li><%= link_to 'profile', edit_user_registration_path %></li>
      <li><%= link_to 'logout', destroy_user_session_path, :method => :delete %></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="span2">
    <ul class="nav nav-list">
      <li class="nav-header">Channels</li>
      <% @channels.each do |channel| %>

          <li><%= link_to channel.title, channel %></li>

      <% end %>
    </ul>
  </div>
  <div class="span8">
    <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <%= value %>
    </div>
    <% end %>
    <%= yield %>
  </div>
</div>
</body>
</html>
