<!DOCTYPE html>
<html>
<head>
  <title>RssReader</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= image_tag current_user.avatar.small_thumb.url if current_user.avatar %>

<%= link_to 'logout', destroy_user_session_path, :method => :delete %>
|
<%= link_to 'profile', edit_user_registration_path %>
|
<%= link_to 'channels', channels_path %>

<div class="container">
<%= yield %>
</div>
</body>
</html>
